apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
  namespace: 3tier
  labels:
    app: python
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: flask
          image: rutvikg/python-app-new:latest 
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: mysql-service
            - name: DB_NAME
              value: mydb
            - name: DB_USER
              value: root
            - name: DB_PASS
              value: root
            - name: FRONTEND_URL
              value: http://nginx-svc:80
